<!--<button (click)="handleLogout()" >Logout</button>-->
<!-- Messenger Clone -->
<div *ngIf="user" class="h-screen w-full flex antialiased text-gray-200 bg-gray-900 overflow-hidden">
  <div class="flex-1 flex flex-col">
    <main class="flex-grow flex flex-row min-h-0">
      <section
        class="flex flex-col flex-none overflow-auto w-24 hover:w-64 group lg:max-w-sm md:w-2/5 transition-all duration-300 ease-in-out">
        <div class="header p-2 flex flex-row justify-between items-center flex-none border-bottom">
          <div class="relative flex flex-shrink-0 items-center gap-2.5">
            <div class="w-16 h-16">
              <img class="rounded-lg w-full h-full object-cover bg-amber-200" [title]="user?.displayName" [src]="user?.photoURL"/>
            </div>
            <div>
              <p class="text-ellipsis overflow-hidden whitespace-nowrap w-48 cursor-default">{{user?.displayName}}</p>
              <p class="text-ellipsis overflow-hidden whitespace-nowrap w-48 cursor-default" [title]="user?.email">{{user?.email}}</p>
            </div>
          </div>
          <div class="flex justify-between items-center">
            <!--            <div>-->
            <!--              <button id="theme-toggle" type="button" (click)="toggleMode()"-->
            <!--                      class="bg-gray-800 flex flex-shrink-0 h-8 hover:bg-gray-700 hover:text-gray-900 mx-2 p-2 rounded-lg text-gray-500 w-8 items-center">-->
            <!--                <svg id="theme-toggle-dark-icon" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20"-->
            <!--                     xmlns="http://www.w3.org/2000/svg">-->
            <!--                  <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>-->
            <!--                </svg>-->
            <!--                <svg id="theme-toggle-light-icon" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20"-->
            <!--                     xmlns="http://www.w3.org/2000/svg">-->
            <!--                  <path-->
            <!--                    d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"-->
            <!--                    fill-rule="evenodd" clip-rule="evenodd"></path>-->
            <!--                </svg>-->
            <!--              </button>-->
            <!--            </div>-->
            <div class="relative">
              <button type="button" (click)="showSettingsDropdown = !showSettingsDropdown"
                      class="group-hover:block flex flex-shrink-0 focus:outline-none rounded-lg text-gray-500 hover:text-gray-900 hover:bg-gray-700 bg-gray-800 w-8 h-8 p-2">
                <svg viewBox="0 0 20 20" class="w-full h-full fill-current rotate-90">
                  <path d="M10.001,7.8C8.786,7.8,7.8,8.785,7.8,10s0.986,2.2,2.201,2.2S12.2,11.215,12.2,10S11.216,7.8,10.001,7.8z
 M3.001,7.8C1.786,7.8,0.8,8.785,0.8,10s0.986,2.2,2.201,2.2S5.2,11.214,5.2,10S4.216,7.8,3.001,7.8z M17.001,7.8
C15.786,7.8,14.8,8.785,14.8,10s0.986,2.2,2.201,2.2S19.2,11.215,19.2,10S18.216,7.8,17.001,7.8z"></path>
                </svg>
              </button>
              <div *ngIf="showSettingsDropdown"
                   class="absolute bg-gray-800 left-0 z-40 mt-2 overflow-hidden border rounded-lg border-gray-700 text-white xl:left-auto xl:right-0 py-1">
                <div class="w-32">
                  <p
                    class="block px-4 py-2 text-sm capitalize transition-colors duration-300 transform text-gray-300 hover:bg-gray-700 cursor-pointer">
                    Profile</p>
                </div>
                <div (click)="handleLogout()" class="w-32">
                  <p
                    class="block px-4 py-2 text-sm capitalize transition-colors duration-300 transform text-gray-300 hover:bg-gray-700 cursor-pointer">
                    Logout</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="search-box px-4 py-2 flex-none">
          <div class="relative">
            <label>
              <input
                class="rounded-full py-2 pr-6 pl-10 w-full border border-gray-800 focus:border-gray-700 bg-gray-800 focus:bg-gray-900 focus:outline-none text-gray-200 focus:shadow-md transition duration-300 ease-in"
                type="text"
                (input)="handleSearch()"
                [(ngModel)]="searchQuery"
                placeholder="Search Users"
              />
              <span class="absolute top-0 left-0 mt-2 ml-3 inline-block">
                <svg viewBox="0 0 24 24" class="w-6 h-6">
                  <path
                    fill="#bbb"
                    d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
                  />
                </svg>
              </span>
            </label>
          </div>
        </div>
        <!-- Conversations List -->
        <div class="contacts p-2 flex-1 overflow-y-scroll">
          <!-- DISPLAY CONVERSATIONS -->
          <ng-container *ngIf="!searchQuery.length">
            <!-- Single Chat Item -->
            <ng-container *ngFor="let conversation of conversationsList">
              <div
                class="flex justify-between items-center p-3 hover:bg-gray-800 rounded-lg relative cursor-pointer"
              >
                <!-- Avatar -->
                <div class="w-16 h-16 relative flex flex-shrink-0">
                  <img
                    class="shadow-md rounded-full w-full h-full object-cover"
                    [src]="conversation.user.photoURL"
                    alt="USER"
                  />
                  <!-- Online Dot -->
                  <div
                  *ngIf="conversation.user.status === 'active'"
                    class="absolute bg-gray-900 p-1 rounded-full bottom-0 right-0"
                  >
                    <div class="bg-green-500 rounded-full w-3 h-3"></div>
                  </div>
                  <!-- END: Online Dot -->
                </div>
                <!-- END: Avatar -->
                <!-- User Info -->
                <div
                  class="flex-auto min-w-0 ml-4 hidden md:block group-hover:block"
                >
                  <p class="font-bold" [innerText]="conversation.user.name"></p>
                  <div
                    class="flex items-center justify-between text-sm font-bold"
                  >
                    <div class="min-w-0">
                      <p class="truncate" [innerText]="conversation.lastMessage" ></p>
                    </div>
                    <p class="ml-2 whitespace-no-wrap min-50 text-right">10min</p>
                  </div>
                </div>
                <!-- END: User Info -->
              </div>
            </ng-container>
            <!-- END: Single Chat Item -->
          </ng-container>
          <!-- END: DISPLAY CONVERSATIONS -->
          <!-- DISPLAY Search Results -->
          <ng-container *ngIf="searchQuery.length">
            <!-- Single Chat Item -->
            <ng-container *ngFor="let searchItem of searchResult">
              <div
                (click)="createConversation(searchItem.uid)"
                class="flex justify-between items-center p-3 hover:bg-gray-800 rounded-lg relative cursor-pointer"
              >
                <!-- Avatar -->
                <div class="w-16 h-16 relative flex flex-shrink-0">
                  <img
                    class="shadow-md rounded-full w-full h-full object-cover"
                    [src]="searchItem.photoURL"
                    alt=""
                  />
                  <!-- Online Dot -->
                  <div
                    *ngIf="searchItem.status === 'active'"
                    class="absolute bg-gray-900 p-1 rounded-full bottom-0 right-0"
                  >
                    <div class="bg-green-500 rounded-full w-3 h-3"></div>
                  </div>
                  <!-- END: Online Dot -->
                </div>
                <!-- END: Avatar -->
                <!-- User Info -->
                <div
                  class="flex-auto min-w-0 ml-4 hidden md:block group-hover:block"
                >
                  <p class="font-bold" [innerText]="searchItem.name"></p>
                  <div
                    class="flex items-center justify-between text-sm font-bold"
                  >

                  </div>
                </div>
                <!-- END: User Info -->
              </div>
            </ng-container>
            <!-- END: Single Chat Item -->
          </ng-container>
          <!-- END: DISPLAY Search Results -->
        </div>
        <div class="flex items-center justify-around py-3 border-top border-gray-800">
          <div class="bg-gray-800 flex hover:bg-gray-700 items-center py-3 px-4 h-full rounded-lg cursor-pointer">
            + New Chat
          </div>
          <div class="bg-gray-800 flex hover:bg-gray-700 items-center py-3 px-4 h-full rounded-lg cursor-pointer">
            + New Group
          </div>

        </div>
        <!-- END: Conversations List -->
      </section>

      <!-- ============================================ Right Panel============================================ -->

      <!-- Right Chat Panel  -->
      <section class="flex flex-col flex-auto border-l border-gray-800">
        <div class="chat-header px-6 py-4 flex flex-row flex-none justify-between items-center shadow border-bottom">
          <div class="flex">
            <div class="w-12 h-12 mr-4 relative flex flex-shrink-0">
              <img class="shadow-md rounded-full w-full h-full object-cover"
                   src="https://randomuser.me/api/portraits/women/33.jpg"
                   alt=""
              />
            </div>
            <div class="text-sm">
              <p class="font-bold">Scarlett Johansson</p>
              <p>Active 1h ago</p>
            </div>
          </div>
          <div class="cursor-pointer">
            <a class="block rounded-full hover:bg-gray-700 bg-gray-800 w-8 h-8 p-2">
              <svg viewBox="0 0 20 20" class="w-full h-full fill-current text-blue-500">
                <path
                  d="M2.92893219,17.0710678 C6.83417511,20.9763107 13.1658249,20.9763107 17.0710678,17.0710678 C20.9763107,13.1658249 20.9763107,6.83417511 17.0710678,2.92893219 C13.1658249,-0.976310729 6.83417511,-0.976310729 2.92893219,2.92893219 C-0.976310729,6.83417511 -0.976310729,13.1658249 2.92893219,17.0710678 Z M9,11 L9,10.5 L9,9 L11,9 L11,15 L9,15 L9,11 Z M9,5 L11,5 L11,7 L9,7 L9,5 Z"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="chat-body p-4 flex-1 overflow-y-scroll">
          <div class="flex flex-row justify-start">
            <div class="messages text-sm text-gray-700 grid grid-flow-row gap-2">
              <span class="text-gray-700">Scarlett Johansson</span>
              <div class="flex items-center group">
                <p class="px-6 py-3 rounded-t-full rounded-r-full bg-gray-800 max-w-xs lg:max-w-md text-gray-200">Hey!
                  How are you?</p>

              </div>
              <div class="flex items-center group">
                <p class="px-6 py-3 rounded-r-full bg-gray-800 max-w-xs lg:max-w-md text-gray-200">Shall we go for
                  Hiking this weekend?</p>

              </div>
              <div class="flex items-center group">
                <p class="px-6 py-3 rounded-b-full rounded-r-full bg-gray-800 max-w-xs lg:max-w-md text-gray-200">Lorem
                  ipsum
                  dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Volutpat lacus laoreet non curabitur gravida.</p>

              </div>
            </div>
          </div>
          <p class="p-4 text-center text-sm text-gray-500">FRI 3:04 PM</p>
          <div class="flex flex-row justify-end">
            <div class="messages text-sm text-white grid grid-flow-row gap-2">
              <span class="text-gray-700 text-right">You</span>
              <div class="flex items-center flex-row-reverse group">
                <p class="px-6 py-3 rounded-t-full rounded-l-full bg-blue-700 max-w-xs lg:max-w-md">Hey! How are
                  you?</p>

              </div>
              <div class="flex items-center flex-row-reverse group">
                <p class="px-6 py-3 rounded-l-full bg-blue-700 max-w-xs lg:max-w-md">Shall we go for Hiking this
                  weekend?</p>

              </div>
              <div class="flex items-center flex-row-reverse group">
                <p class="px-6 py-3 rounded-b-full rounded-l-full bg-blue-700 max-w-xs lg:max-w-md">Lorem ipsum
                  dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Volutpat lacus laoreet non curabitur gravida.</p>

              </div>
            </div>
          </div>
          <p class="p-4 text-center text-sm text-gray-500">SAT 2:10 PM</p>
          <div class="flex flex-row justify-start">
            <div class="messages text-sm text-gray-700 grid grid-flow-row gap-2">
              <span class="text-gray-700">Scarlett Johansson</span>
              <div class="flex items-center group">
                <p class="px-6 py-3 rounded-t-full rounded-r-full bg-gray-800 max-w-xs lg:max-w-md text-gray-200">Hey!
                  How are you?</p>

              </div>
              <div class="flex items-center group">
                <p class="px-6 py-3 rounded-r-full bg-gray-800 max-w-xs lg:max-w-md text-gray-200">Shall we go for
                  Hiking this weekend?</p>

              </div>
              <div class="flex items-center group">
                <p class="px-6 py-3 rounded-b-full rounded-r-full bg-gray-800 max-w-xs lg:max-w-md text-gray-200">Lorem
                  ipsum
                  dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Volutpat lacus laoreet non curabitur gravida.</p>

              </div>
            </div>
          </div>
          <p class="p-4 text-center text-sm text-gray-500">12:40 PM</p>
          <div class="flex flex-row justify-end">
            <div class="messages text-sm text-white grid grid-flow-row gap-2">
              <span class="text-gray-700 text-right">You</span>
              <div class="flex items-center flex-row-reverse group">
                <p class="px-6 py-3 rounded-t-full rounded-l-full bg-blue-700 max-w-xs lg:max-w-md">Hey! How are
                  you?</p>

              </div>
              <div class="flex items-center flex-row-reverse group">
                <p class="px-6 py-3 rounded-l-full bg-blue-700 max-w-xs lg:max-w-md">Shall we go for Hiking this
                  weekend?</p>

              </div>
              <div class="flex items-center flex-row-reverse group">
                <a class="block w-64 h-64 relative flex flex-shrink-0 max-w-xs lg:max-w-md" href="#">
                  <img class="absolute shadow-md w-full h-full rounded-l-lg object-cover"
                       src="https://unsplash.com/photos/8--kuxbxuKU/download?force=true&w=640" alt="hiking"/>
                </a>
              </div>
              <div class="flex items-center flex-row-reverse group">
                <p class="px-6 py-3 rounded-b-full rounded-l-full bg-blue-700 max-w-xs lg:max-w-md">Lorem ipsum
                  dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Volutpat lacus laoreet non curabitur gravida.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="chat-footer flex-none">
          <div class="flex flex-row items-center p-4 border-top">

            <div class="relative">
              <button type="button" (click)="openDropzone =!openDropzone "
                      class="flex flex-shrink-0 focus:outline-none mx-2 bg-gray-800 text-blue-600 hover:text-blue-700 rounded-lg p-1 w-10">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                  <path fill="white"
                        d="M16.617 14.496a1 1 0 0 1 1.414 1.414l-3.182 3.182a7 7 0 1 1-9.9-9.9l5.658-5.656a5 5 0 1 1 7.07 7.07l-5.656 5.658a3 3 0 0 1-4.243-4.243l4.596-4.596a1 1 0 1 1 1.415 1.414l-4.597 4.596a1 1 0 1 0 1.415 1.414l5.656-5.657a3 3 0 1 0-4.242-4.242l-5.657 5.657a5 5 0 1 0 7.071 7.07l3.182-3.181z"/>
                </svg>
              </button>
              <div *ngIf="openDropzone"
                   class="fixed bg-gray-800 text-white left-1/2 top-1/2 z-40 overflow-hidden border rounded-lg border-gray-700 py-4">
                <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" id="dropzone-backdrop"></div>
                  <div class="fixed inset-0 z-10 overflow-y-auto">
                    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                      <div
                        class="relative transform overflow-hidden rounded-lg bg-gray-800 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                        <div class="bg-gray-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                          <div class="sm:flex sm:items-start">
                            <div
                              class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full border border-gray-100 sm:mx-0 sm:h-10 sm:w-10">
                              <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24">
                                <path fill="white"
                                      d="M16.617 14.496a1 1 0 0 1 1.414 1.414l-3.182 3.182a7 7 0 1 1-9.9-9.9l5.658-5.656a5 5 0 1 1 7.07 7.07l-5.656 5.658a3 3 0 0 1-4.243-4.243l4.596-4.596a1 1 0 1 1 1.415 1.414l-4.597 4.596a1 1 0 1 0 1.415 1.414l5.656-5.657a3 3 0 1 0-4.242-4.242l-5.657 5.657a5 5 0 1 0 7.071 7.07l3.182-3.181z"/>
                              </svg>
                            </div>
                            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                              <h3 class="text-base font-semibold leading-6" id="dropzone-modal-title">Dropzone</h3>
                              <div class="mt-2">
                                <p class="text-sm">Click or drop to this are to attach file.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                          <button type="button"
                                  class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 sm:ml-3 sm:w-auto"
                                  (click)="openDropzone = false">Submit
                          </button>
                          <button type="button"
                                  class="mt-3 inline-flex w-full justify-center rounded-md bg-gray-800 px-3 py-2 text-sm font-semibold shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-500 hover:text-gray-800 sm:mt-0 sm:w-auto"
                                  (click)="openDropzone = false">Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative flex-grow">
              <label>
                <input
                  class="rounded-full py-2 pl-3 pr-10 w-full border border-gray-800 focus:border-gray-700 bg-gray-800 focus:bg-gray-900 focus:outline-none text-gray-200 focus:shadow-md transition duration-300 ease-in"
                  type="text" value="" placeholder="Type here..."/>
                <button type="button"
                        class="absolute top-0 right-0 mt-2 mr-3 flex flex-shrink-0 focus:outline-none block text-blue-600 hover:text-blue-700 w-6 h-6">
                  <svg viewBox="0 0 20 20" class="w-full h-full fill-current">
                    <path
                      d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM6.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm7 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm2.16 3a6 6 0 0 1-11.32 0h11.32z"
                    />
                  </svg>
                </button>
              </label>
            </div>
            <button type="button"
                    class="flex flex-shrink-0 focus:outline-none mx-2 bg-gray-800 text-blue-600 hover:text-blue-700 rounded-lg p-1 w-10">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                <path fill="white" fill-rule="evenodd" clip-rule="evenodd"
                      d="M19.2111 2.06722L3.70001 5.94499C1.63843 6.46039 1.38108 9.28612 3.31563 10.1655L8.09467 12.3378C9.07447 12.7831 10.1351 12.944 11.1658 12.8342C11.056 13.8649 11.2168 14.9255 11.6622 15.9053L13.8345 20.6843C14.7139 22.6189 17.5396 22.3615 18.055 20.3L21.9327 4.78886C22.3437 3.14517 20.8548 1.6563 19.2111 2.06722ZM8.92228 10.517C9.85936 10.943 10.9082 10.9755 11.8474 10.6424C12.2024 10.5165 12.5417 10.3383 12.8534 10.1094C12.8968 10.0775 12.9397 10.0446 12.982 10.0108L15.2708 8.17974C15.6351 7.88831 16.1117 8.36491 15.8202 8.7292L13.9892 11.018C13.9553 11.0603 13.9225 11.1032 13.8906 11.1466C13.6617 11.4583 13.4835 11.7976 13.3576 12.1526C13.0244 13.0918 13.057 14.1406 13.4829 15.0777L15.6552 19.8567C15.751 20.0673 16.0586 20.0393 16.1147 19.8149L19.9925 4.30379C20.0372 4.12485 19.8751 3.96277 19.6962 4.00751L4.18509 7.88528C3.96065 7.94138 3.93264 8.249 4.14324 8.34473L8.92228 10.517Z"/>
              </svg>
            </button>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
