.bg-login{
    background-position-x: center;
    background-repeat: no-repeat;
}
.iconbtn{
    svg{
        height: 24px;
        width: 24px;
    }
    &:hover{
        svg{
            @apply bg-blue-700
        }
    }
}