.bg-login{
    background-image: url(../../../assets/pexels-sagar-shally-11305767.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
}
.iconbtn{
    svg{
        height: 24px;
        width: 24px;
    }
}